<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Person</title>
</head>
<body>
<form th:method="Patch" th:action="@{/people/edit/{id}(id=${person.getId()})}" th:object="${person}">
  <label for="name">Name</label>
  <input th:type="text" id="name" th:field="*{name}">
  </br>
  <label for="age">Age</label>
  <input th:type="text" id="age" th:field="*{age}">
  </br>
  <label for="email">Email</label>
  <input th:type="text" id="email" th:field="*{email}">
  </br>
  <input th:type="submit" value="Edit Person">
</form>

</body>
</html>